.container{
display: flex;
justify-content: center;
align-items: center;
background: rgba(229, 84, 115, 0.10);

}
.title{
width: 708px;
font-size: 55px;
font-weight: 800;
}
.description{
width: 634px;
color: rgba(39, 39, 39, 0.60);
font-weight: 400;
line-height: 30px;
}
.repo{
display: inline-flex;
padding: 20px 43px;
border-radius: 8px;
background: #E55473;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 700;
}
.condition{
width: 635px;
height: 700px;
  
}
.reposit{
text-align: center;
margin-top: 100px;
padding: 24px;
}
.denger{
color: #272727;
text-align: center;
font-size: 45px;
font-weight: 800;
}
.title-repo{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
text-align: center;
}
.radio{
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top:50px ;
    margin-left: 240px;
    margin-right: 240px;
    
}
.repoter{
border-radius: 300px 300px 0px 0px;
 width: 310px;
height: 428px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
background: rgba(167, 33, 98, 0.15);
padding:0px 70px;
padding-top: 100px;
}
.ginipic{
    text-align: center;
    font-size: 24px;
    /* padding: 20px; */
    color: #272727;
    font-weight: 700;
}
.phone{

    padding:  47px 47px 110px 40px ;
/* padding-top: 100px; */
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 370px;
height: 370px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.config{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
}
.website{
    padding:0px 75px  ;
    padding-top: 55px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.regular{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}
.origin{
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    margin-top: 100px;
    gap: 60px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding:80px ;
   box-shadow: 10px;
   /* border-bottom-width: 1440px; */
   margin-left: 240px;
   margin-right: 240px;
   margin-bottom: 128px;
}
.gonder{
    display: flex;
    justify-content: center;
    background-color: #111010;
    color:#FFF;
    justify-items: center;
    gap: 50px;
}
.habit{
    margin-bottom: 20px;
    
}
.gonder>ul{
    display: flex;
    gap:60px;
    margin-top: 20px;
    list-style: none;
}
.e:hover{
    color: #E55473;
    font-size: 20px;
}
.f:hover{
color: #E55473;
font-size: 20px;
}
.g:hover{
 color: #E55473;
 font-size: 20px;
}
.focus{
    color: #E55473;
}
.concept{
    font-size: 20px;
    background-color: #E55473;
}
.construct{
    width: 88px;
    height: 88px; 
  
}
.true{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
/* justify-items: center; */
margin-right: 100px;
}
.ant{
    width: 88px;
height: 88px;
flex-shrink: 0;
}
.rose{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
margin-right: 100px;

}
.language{
    width: 88px;
height: 88px;
}
.book{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
}
.lorem{
display: flex;
justify-content: center;
    /* justify-items: center; */
gap: 100px;
width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-bottom: 124px;
}
.exam{
    color: #272727;
font-size: 40px;
font-weight: 800;
text-align: center;
margin-top: 200px;
margin-left: 50px;
}
.point{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-left: 50px;
}
.enime{
   text-align: center;
padding: 20px 43px;
/* align-items: flex-start; */
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-left: 250px;
}
.regula{
    border: 10px;
    margin-top:  100px;
    width: 218px;
height: 320px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.question{
    text-align: center;
    justify-content: center;
    
}
.rain{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.facebook{
/* width: 594px; */
padding-bottom: 15px;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
.amount{
    display: flex;
    margin-left: 300px;
    gap: 30px;
    margin-bottom: 20px;
}
.gm{
    width: 342px;
height: 396px;
}
.bm{
    width: 342px;
height: 396px;
}
.lm{
    width: 342px;
height: 396px;
}
.dl{
    width: 342px;
height: 396px;
}
.leo{
  background-image: url('./Rectangle\ 9.png');
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 80px;
    margin-left: 210px;
    margin-right: 150px;
    padding: 70px;
}
.math{
    color: #272727;
font-size: 40px;
font-weight: 800;
text-align: center;

}
.empty{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
text-align: center;

}
.record{
    width: 500px;
height: 50px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
padding: 10px;
border: none;

}
.laptop{
    width: 150px;
height: 64px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
}
.navi{
    display: flex;
   justify-content: center;
   justify-items: center;
   background: #111010;
   margin-top: 100px;

}
.position{
    color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
}
.flower{
    color: #FFF;
}
.regulation{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.range{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}